<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true">
  <section id="exaTools" name="Exareme Tools">
    <tool file="exaremeTools/CROSS_VALIDATION_K_FOLD/CROSS_VALIDATION_K_FOLD.xml" />
    <tool file="exaremeTools/NAIVE_BAYES_TRAINING/NAIVE_BAYES_TRAINING.xml" />
    <tool file="exaremeTools/NAIVE_BAYES_TESTING/NAIVE_BAYES_TESTING.xml" />
  </section>
</toolbox>
